/* Styles du body et de la page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#generateButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

#generateButton:hover {
    background-color: #0056b3;
}

#generateButton img {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Espace entre l'image et le texte */
}

#armyComposition {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    min-height: 50px;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.troop {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.troop.show {
    opacity: 1;
}

.loading {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
}

#campSize {
    padding: 10px;
    font-size: 16px;
    width: 80px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
